kind: Pod
apiVersion: v1
metadata:
  name: {{pod_name}}
  namespace: {{meta.namespace}}
  labels:
    app: {{ meta.name }}
spec:
  containers:
  - name: hello
    command:
    - hello
    image: quay.io/mhrivnak/hello-service
    imagePullPolicy: IfNotPresent
    ports:
      - containerPort: 8080
    env:
      - name: GREETING
        value: {{greeting}}